<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template.html">
<head>
    <meta charset="utf-8">
    <title>Deaths</title>
</head>
<body>
<div layout:fragment="pageContent">

    <div class="row">
        <div class="col-sm-6" style="margin-bottom:30px">
        <div class="jumbotron">
            <h2 class="display-4" th:text="${totalDeathsCases}"></h2>
            <p class="lead text-danger">Total Death cases reported as of today.</p>
            <hr class="my-3">

            <p class="lead">
                <span>Deaths cases reported since previous day:</span>
                <span class="text-danger" th:text="${totalNewCases}"></span>
            </p>
        </div>
        </div>
        <div class="col-md-6">
            <div id="container" style="min-width: 310px; height: 350px; margin: 0 auto"></div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script th:inline="javascript">
            $(function () {
                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Total Deaths Cases'
                    },
                    subtitle: {
                        text: 'Outbreak since 22-Jan-2020 till 30-Jun-2020'
                    },
                    xAxis: {
                        categories: [[${monthsCases.keySet()}]],
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Number of Deaths[K]'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.1f} cases</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: 'Deaths per month',
                        data: [[${monthsCases.values()}]]

                    }]
                });
            });
        </script>
    </div>



    <div class="container">
        <input class="form-control" placeholder="Search Country..."
               aria-describedby="button-addon2" type="text" id="myInput">
        <br>

        </form>

        <div class="table-wrapper-scroll-y my-custom-scrollbar tableFixHead">
            <table class="table table-bordered table-striped ">
                <thead>
                <tr class="table-danger text-secondary">
                    <th class="th-sm">State</th>
                    <th class="th-sm">Country</th>
                    <th class="th-sm">Total Death Cases</th>
                    <th class="th-sm">Changes since last day</th>
                </tr>
                </thead>
                <tbody id="myTable">
                <tr th:each="allDeaths : ${AllDeaths}">
                    <td th:text="${allDeaths.state}"></td>
                    <td th:text="${allDeaths.country}"></td>
                    <td th:text="${allDeaths.latestDeathsCases}">0</td>
                    <td th:text="${allDeaths.diffFromPrevDay}">0</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</div>
</body>
</html>
