<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template.html">
<head>
    <meta charset="utf-8">
    <title>home</title>
</head>
<body>
<div layout:fragment="pageContent">
    <div class="row">
        <div class="col-sm-8">
            <div class="card" style="width:100%">
                <div id="casesByTypes" style="width:100%; height:360px;"></div>
                <div class="card-body">
                    <p class="card-text">Updated once a day, based on consolidated last day total.</p>
                </div>
            </div>

        </div>
        <div class="col-md-4 ">
            <ul class="list-group text-center">
                <li class="list-group-item list-group-item-warning  justify-content-center" th:text="|Total Infected: ${totalReportedCases}| ">
                    persons
                </li>
                <li class="list-group-item list-group-item-danger  justify-content-center" th:text="|Total Deceased: ${totalDeathsCases}|"></li>
                <li class="list-group-item list-group-item-success  justify-content-center"
                    th:text="|Total Recovered: ${totalRecoveredCases}|"></li>
            </ul>

        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script th:inline="javascript">
        $(function () {
            Highcharts.setOptions({
                lang: {
                    decimalPoint: '.',
                    thousandsSep: ','
                }
            });
            drawCasesByTypesChart();
        });
        function drawCasesByTypesChart() {
            var CasesByTypesChart = Highcharts.chart('casesByTypes', {
                chart: {
                    type: 'pie',
                    margin: 40,
                    options3d: {
                        enabled: true,
                        alpha: 45,
                        beta: 0
                    }
                    },
                title: {
                    text: 'Total Cases since 22-Jan-2020'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y:.0f}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        depth: 35
                    }
                },
                series: [{
                    name: 'Cases',
                    colorByPoint:true,
                    data: [{
                        name: 'Infected',
                        color: '#FFEEBA',
                        y: [[${totalReportedCases}]]
                    },{
                        name: 'Deaths',
                        color:'#F5C6CB',
                        y: [[${totalDeathsCases}]]
                    },{
                        name: 'Recovered',
                        color:'#C3E6CB',
                        y: [[${totalRecoveredCases}]]
                    }]
                }]
            });
        }
    </script>

</div>
</body>
</html>
